body {
    background: #f3f3f3;
    font-family: "Inter", sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-custom {
    border-radius: 16px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.1);
    width: 600px;
    max-width: 90%;
}

.nav-underline .nav-link {
    color: #6b7280;
    font-size: 14px;
}

.nav-underline .nav-link.active {
    font-weight: 600;
    color: #000;
    border-bottom: 2px solid #000;
}